
**/.settings

pentestportal/media/*
RPT-[0-9]*
RVA-[0-9]*
HVA-[0-9]*
FAST-[0-9]*
RV[0-9]*
backup-*
mode.txt
docker/dev/env.txt
docker/prod/env.txt
docker/prod/nginx/ssl/

*.sqlite3

config.yml
ptportal.log

__pycache__
*.pyc

docs/_build/*

~$*

*.pyc
*.DS_Store

.coverage
.editorconfig

docs/_build/*

ptportal/migrations/0*

docker/containers/*
docker/images/*

*.zip
*.tar

ptportal/static/rest_framework/*
ptportal/static/webfonts/*
ptportal/static/admin/js/*
ptportal.log

.vscode

node/package-lock.json
node/node_modules/*
/.vs/assessment-reporting-engine/v17/.wsuo
/.vs/assessment-reporting-engine/FileContentIndex/2b84fa9d-f09b-462c-8752-9c5eb403f699.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/4cc54cf4-21ce-4739-999b-123c333ed0b3.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/5cb0ecd5-1e3c-4227-acb1-a7c7204e7630.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/a10d930b-8a22-4e3e-9bad-3d5db92a99fc.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/4559e211-54cf-47a7-aa80-aec356979e2b.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/743ad17b-3b31-414f-91c2-59fa9b589eb3.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/assessment-reporting-engine/FileContentIndex/48dcec8d-9a2d-485e-b3a1-062dd015ef46.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/938ffb53-5d2c-4ebf-8d0b-33cbd2ed62dc.vsidx
/.vs/assessment-reporting-engine/FileContentIndex/ba290e4c-8422-41ba-bd6d-c7a11c4f288f.vsidx
/.vs/assessment-reporting-engine/v17/workspaceFileList.bin
*.vsidx
